
.vscode

.venv

Edit Scripts/*

LICENSE.txt

README.txt

SSEEdit.exe

SSEEdit.ini

SSEEditException.log

SSEEditQuickAutoClean.exe

SSEEdit_log.txt

whatsnew.rtf

NPC_Manager.json

NPC_Manager.log

dist/dist.bat